{
  "globalShortcut": "Shift+Alt+Space",
  "mcpServers": {
    "playwright": {
      "command": "npx",
      "args": [
        "@playwright/mcp@latest",
        "--vision"
      ]
    },
    "slack": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-slack"
      ],
      "env": {
        "SLACK_BOT_TOKEN": "${SLACK_BOT_TOKEN}",
        "SLACK_TEAM_ID": "${SLACK_TEAM_ID}"
      }
    }
  },
  "preferences": {
    "menuBarEnabled": false,
    "quickEntryDictationShortcut": "capslock",
    "localAgentModeTrustedFolders": [
      "/Users/a_kobori/.screenocr_logs",
      "/Users/a_kobori/Library/Mobile Documents/iCloud~md~obsidian/Documents/my-vault/dailynote",
      "/Users/a_kobori"
    ],
    "coworkScheduledTasksEnabled": false,
    "sidebarMode": "code",
    "bypassPermissionsModeEnabled": true
  }
}