.config/configstore
.config/yarn
.config/flutter
.config/gatsby
.config/gh/hosts.yml
.config/github-copilot/hosts.json
.config/iterm2/AppSupport
.config/karabiner/automatic_backups
.DS_Store
__pycache__

test.sh
.zsh/.zsh__temporary.zsh
